In [1]:
import numpy as np
import pandas as pd

In [2]:
#Load the car dataset
df = pd.read_csv(r"C:\Users\DELL\Downloads\Car Analysis\car_ad.csv")

In [3]:
#Check number of rows and columns
df.shape

(9576, 10)

In [4]:
#Check for columns with null values 
df.isnull().sum()

car               0
price             0
body              0
mileage           0
engV            434
engType           0
registration      0
year              0
model             0
drive           511
dtype: int64

In [5]:
#From above, engV and drive both have null

In [6]:
#Replace all null engV with the mean of the engV
mean_engV = round(df.engV.mean(), 2)
df.engV = df["engV"].fillna(value=mean_engV)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car           9576 non-null   object
 1   price         9576 non-null   float64
 2   body          9576 non-null   object
 3   mileage       9576 non-null   int64
 4   engV          9576 non-null   float64
 5   engType       9576 non-null   object
 6   registration  9576 non-null   object
 7   year          9576 non-null   int64
 8   model         9576 non-null   object
 9   drive         9065 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

In [7]:
#Replace all drive column with null values to unknown
df.drive = df["drive"].fillna(value="Unknown")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car           9576 non-null   object
 1   price         9576 non-null   float64
 2   body          9576 non-null   object
 3   mileage       9576 non-null   int64
 4   engV          9576 non-null   float64
 5   engType       9576 non-null   object
 6   registration  9576 non-null   object
 7   year          9576 non-null   int64
 8   model         9576 non-null   object
 9   drive         9576 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

In [8]:
#Display the first 20 rows
df[:20]

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.000,crossover,68,2.50,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.000,sedan,173,1.80,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.000,other,135,5.50,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.000,van,162,1.80,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.000,vagon,91,2.65,Other,yes,2013,E-Class,Unknown
5,Nissan,16600.000,crossover,83,2.00,Petrol,yes,2013,X-Trail,full
6,Honda,6500.000,sedan,199,2.00,Petrol,yes,2003,Accord,front
7,Renault,10500.000,vagon,185,1.50,Diesel,yes,2011,Megane,front
8,Mercedes-Benz,21500.000,sedan,146,1.80,Gas,yes,2012,E-Class,rear
9,Mercedes-Benz,22700.000,sedan,125,2.20,Diesel,yes,2010,E-Class,rear
10,Nissan,20447.154,crossover,0,1.20,Petrol,yes,2016,Qashqai,front
11,Mercedes-Benz,20400.000,sedan,190,1.80,Gas,yes,2011,E-Class,rear
12,Mercedes-Benz,22500.000,sedan,164,1.80,Gas,yes,2012,E-Class,rear
13,BMW,4700.000,sedan,200,2.65,Petrol,yes,1996,316,rear
14,Mercedes-Benz,21500.000,sedan,159,1.80,Gas,yes,2012,E-Class,rear
15,BMW,19999.000,sedan,290,4.80,Petrol,yes,2006,750,rear
16,BMW,129222.000,sedan,2,5.00,Petrol,yes,2016,750,full
17,Mercedes-Benz,99999.000,crossover,0,3.00,Petrol,yes,2016,GLE-Class,full
18,Nissan,16600.000,crossover,83,2.00,Petrol,yes,2013,X-Trail,full
19,BMW,73900.000,sedan,57,4.40,Petrol,yes,2013,M5,rear

In [9]:
#Capitalize all first characters in body and drive column 
df.body = df.body.str.title()
df.drive = df.drive.str.title()
df.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,Crossover,68,2.50,Gas,yes,2010,Kuga,Full
1,Mercedes-Benz,20500.0,Sedan,173,1.80,Gas,yes,2011,E-Class,Rear
2,Mercedes-Benz,35000.0,Other,135,5.50,Petrol,yes,2008,CL 550,Rear
3,Mercedes-Benz,17800.0,Van,162,1.80,Diesel,yes,2012,B 180,Front
4,Mercedes-Benz,33000.0,Vagon,91,2.65,Other,yes,2013,E-Class,Unknown

In [10]:
#Confirm dtypes
df.dtypes

car              object
price           float64
body             object
mileage           int64
engV            float64
engType          object
registration     object
year              int64
model            object
drive            object
dtype: object

In [11]:
#Check for duplicate
df.duplicated().sum()

#drop duplicates
df = df.drop_duplicates()
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,Crossover,68,2.50,Gas,yes,2010,Kuga,Full
1,Mercedes-Benz,20500.0,Sedan,173,1.80,Gas,yes,2011,E-Class,Rear
2,Mercedes-Benz,35000.0,Other,135,5.50,Petrol,yes,2008,CL 550,Rear
3,Mercedes-Benz,17800.0,Van,162,1.80,Diesel,yes,2012,B 180,Front
4,Mercedes-Benz,33000.0,Vagon,91,2.65,Other,yes,2013,E-Class,Unknown
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,Crossover,140,2.00,Gas,yes,2011,Tucson,Front
9572,Volkswagen,2200.0,Vagon,150,1.60,Petrol,yes,1986,Passat B2,Front
9573,Mercedes-Benz,18500.0,Crossover,180,3.50,Petrol,yes,2008,ML 350,Full
9574,Lexus,16999.0,Sedan,150,3.50,Gas,yes,2008,ES 350,Front
9575,Audi,22500.0,Other,71,3.60,Petrol,yes,2007,Q7,Full

In [13]:
#Drop model column
try:
    df = df.drop(columns="model")
    print(df.shape)
except (KeyError):
    print(df.shape)

(9463, 9)

In [ ]:
df.to_csv("cleanedCarDS.csv", )